In [26]:
contacts = {"ali" : 57568897, "ahmed" : 2575475}

contacts["sara"] = 4457475
contacts["omar"] = 9787797
contacts["mohamed"] = 5757675
print(contacts)

{'ali': 57568897, 'ahmed': 2575475, 'sara': 4457475, 'omar': 9787797, 'mohamed': 5757675}

In [18]:
students = [
    {"name": "Ali", "grades": [90, 80, 70]},
    {"name": "Omar", "grades": [85, 80, 90]},]
    
for student in students:
    name = student["name"]
    grades = student["grades"]
    average = sum(grades) / len(grades)
    print(f"{name}'s average grade: {average:.2f}")

Ali's average grade: 80.00
Omar's average grade: 85.00